# Ignore virtual environment
venv/

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables and sensitive data
.env

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore log files
*.log

*.ps1